#gameBoard{
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

th, td {
    border: 1px solid black;
    width: 120px;
    height: 120px;
}

td {
	text-align:center; 
    vertical-align:middle;
    font-size: 70px;
}

.red-cell {
   background: #F00; /* Or some other color */
}

#center{
	margin-left: auto;
	margin-right: auto;
	width: 400px
}

h1, h2, h3 {
	text-align: center;
}

#restart {+
	margin: 0 auto; /* or margin: 0 auto 0 auto */
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }