#gameBoard{
	height: 300px;
	width: 300px;
}

th, td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
/*
td:hover {
  background-color: #ff0000;
  color: #000000;
}*/

.red-cell {
   background: #F00; /* Or some other color */
}