#gameBoard{
	height: 300px;
	width: 300px;
}

th, td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.red-cell {
   background: #F00; /* Or some other color */
}

.center{
	margin-left: auto;
	margin-right: auto;
	width: 400px
}